@media(max-width: 48rem){
    .galeria-main{
        height: 100vh;
        background-image: linear-gradient(to bottom, #01112a, #393454, #74597d, #b382a4, #f4afc7);
        padding-top: 6.25rem;
        h1{
            font-size: 2.5rem;
            color: rgb(224, 221, 221);
        }
        .carrusel{
            padding-top: 6.25rem;
        }
    }
    .body-contactos{
        height: 100vh;
        padding-top: 6.25rem;
    }
    .video-section-1{
        padding-top: 6.25rem;

    }













}